@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

*{

    margin: 0;
    padding: 0;


}

html,body{
    background-color: rgb(255, 255, 255);
    height:100%;
    font-family:'Poppins',sans-serif;
    outline: none;

}

.box{


    width:1250px;
    height:500px;
    margin: 50px auto;
    background-color:rgb(233, 233, 233);
    border: 2px solid rgb(161, 159, 159);




}

.tittle{

    text-align:right;
    margin:10px 140px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(100, 100, 100);
    



}

.peso{

    clear: both;
    float: right;
    padding:5px 10px;
    width:300px;
    height:40px;
    display: block;
    margin:20px 100px;
    border-radius:50px;
    outline:none;
    border:1px solid rgb(100, 100, 100);
    background-color:rgb(212, 212, 212);
    color: rgb(99, 99, 99);
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    font-size:20px;
    text-align:center;



}

.altura{
  clear: both;
  float: right;
  padding:5px 10px;
  width:300px;
  height:40px;
  display: block;
  margin:-10px 100px;
  outline:none;
  border-radius:50px;
  border:1px solid rgb(100, 100, 100);
  background-color:rgb(212, 212, 212);
  color: rgb(99, 99, 99);
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;;
  font-size:20px;
  text-align:center;

   

}

.button {
  clear: both;
  float: right;
  padding:5px 10px;
  width:320px;
  display: block;
  margin:30px 100px;
  border:1px solid rgb(100, 100, 100);
  background-color: rgb(60, 255, 0);
  color:rgb(243, 230, 230);
  border-radius:50px;
  font-family:'Poppins',
  sans-serif;
 font-size:20px;
 text-align:center;

}

.box p{

 position: relative;
 float: right;
 clear: both;
 right:180px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 top:10px;

}

.finalvalue{
width:400px;
height:150px;
border:2px solid rgb(161, 159, 159);
position: relative;
float:right;
clear: both;
position: relative;
right:50px;


}

.finalvalue h1{

    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    color: rgb(100, 100, 100);


}

.finalvalue span{
    justify-content: center;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    color: rgb(100, 100, 100);
    font-size:30px;
    font-weight:bold;
    display: flex;

}

.tabela{
    height:400px;
    width:430px;
    position: relative;
    left:100px;
    bottom:535px;
    background-color:rgb(233, 233, 233);
    border: 2px solid rgb(161, 159, 159);
}

.tabela h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-style: normal;
    color:rgb(100, 100, 100); 
  
    


}




.tabela span{

    font-family: Arial, Helvetica, sans-serif;
    display: block;
    display:block;
    padding:0 10px 0 10px;
    border: 1px solid rgb(161, 159, 159);
    position: relative;
    top:30px;
    margin:0 10px 20px 10px;
    text-align: center;

   



}